
.item_info {
	display: flex;
	margin-bottom: 50px;
	flex-flow: row wrap;
}

.item_info img {
	width: 500px;
	height: 500px;
	margin: 50px 70px 50px 0px;
}

.main_subj {
	font-size: 2em;
	margin-bottom: 30px;
}

.item_detail {
	text-align: center;
}

table {
	border-collapse: separate;
	border-spacing: 0 20px;
}

td {
	font-size: 1.3em;
}

.item_content {
	text-align: -webkit-center;
	margin-bottom:100px
}

.detail_menu {
	height: 55px;
	margin: 20px 0 20px 0;
	background-color: #f2efef;
	border: 1px solid #989898;
}

.detail_menu ul {
	float: left;
	width: 1200px;
	justify-content: center;
	list-style-type: none;
	display: flex;
	text-align: center;
	padding: 0;
	margin: 0;
	height: 55px;
}

.detail_menu ul>li {
	font-size: 1.3em;
	width: inherit;
	height: 40px;
}

.rev_view {
	height: 200px;
	width: 1200px;
	border: 1px solid gray;
	margin: 50px 0px 50px;
}

.detail_menu>ul>li>a {
	vertical-align: -webkit-baseline-middle
}

.notice {
	height: 150px;
	width: 1200px;
	background-color: #f1e5d1;
	margin: 40px 0px 40px 0px;
}

.detail_info> table {
	
text-align:center;
caption-side:top;
}
caption{
caption-side:top;
text-align:center;
font-size:1.3em;
}

.detail_info table> th, td{

padding:10px;
}
div.item_detail > table:nth(1) > tbody > tr > td, th{
border-bottom: 1px solid #d8d1d1;
}
.main_subj{
padding-top: 20px;
}
#content_wrap{
border-bottom:1px solid black;
margin-bottom:100px

}
